@media only screen and (max-width: 600px) {
  body {
    width: 600px;
  }

  .png-intro {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .intro-text {
    width: 80%;
    right: 10%;
    left: 10%;
    top: 500px;
  }

  button {
    width: 80%;
    height: 50px;
    border-radius: 25px;
    font-size: larger;
    margin-top: 20px;
  }

  .features-div {
    flex-direction: column;
    top: 850px;
  }

  .features {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }

  picture {
    width: 600px;
  }

  .productive {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    top: 1900px;
    right: 10%;
    left: 10%;
    position: absolute;
    z-index: 3;
  }

  .productive-text {
    width: 100%;
    text-align: left;
    /* padding-top: 70px; */
    font-family: "Raleway", sans-serif;
  }

  .productive-png {
    width: 100%;
  }

  .quote {
    top: 2750px;
    left: 16%;
  }

  .testimonial {
    top: 2770px;
    left: 15%;
    right: 15%;
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .tframe {
    width: 100%;
    padding: 20px;
    margin: 10px 10px 20px 10px;
  }

  .login {
    top: 3550px;
    left: 12%;
    right: 10%;
    width: 80%;
    padding: 20px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    background-color: hsl(217, 28%, 15%);
    border-radius: 8px;
    box-shadow: 7px 7px 10px hsl(218, 50%, 6%);
  }

  .submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input[type="email"] {
    width: 100%;
    border-radius: 25px;
    height: 50px;
    margin-bottom: 25px;
    margin-top: 15px;
  }

  input[type="submit"] {
    width: 100%;
    border-radius: 25px;
    height: 50px;
    font-size: larger;
  }

  footer {
    top: 3750px;
    width: 100%;
    padding: 250px 50px 30px 70px;
  }

  .foot {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  #location {
    height: 18px;
    width: 18px;
    margin-top: 15px;
    margin-right: 25px;
  }

  .address {
    display: flex;
    flex-direction: row;
  }

  .foot > p,
  .about {
    width: 100%;
  }

  .phone,
  .icons {
    width: 100%;
  }

  .pad {
    padding-right: 25px;
  }

  .about > p {
    width: 100%;
  }

  .about,
  .icons {
    padding-top: 50px;
  }

  .icons {
    margin-left: 25%;
    margin-right: 25%;
  }

  .iconic {
    width: 13%;
    margin: 10px;
    filter: grayscale(1) invert(1);
  }

  .raleway {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }
}
